@import 'compass';

$font-weight-bolder:900;
$font-weight-bold:700;
$font-weight-medium:500;
$font-weight-regular:400;

$font-size-base: 16px;
$font-size-lg: 30px;
$font-size-md: 20px;

//media queries
$xs-width: 320px;
$sm-width: 768px;
$md-width: 990px;
$lg-width: 1200px;