@import 'compass';
@import 'variables/variables';

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin padding-all($padding-top: null,$padding-right: null,$padding-bottom: null,$padding-left: null) {
	padding-top: $padding-top;
	padding-right: $padding-right;
	padding-bottom: $padding-bottom;
	padding-left: $padding-left;
}

@mixin margin-all($margin-top: null,$margin-right: null,$margin-bottom: null,$margin-left: null) {
	margin-top: $margin-top;
	margin-right: $margin-right;
	margin-bottom: $margin-bottom;
	margin-left: $margin-left;
}

@mixin xs-device {
  @media (min-width: #{$xs-width}) and (max-width: #{$sm-width - 1px}) {
    @content;
  }
}

@mixin sm-device {
  @media (min-width: #{$xs-width + 1px}) and (max-width: #{$md-width - 1px}) {
    @content;
  }
}

@mixin sm-device-up{
  @media (min-width: #{$sm-width + 1px}){
    @content;
  }
}

@mixin md-device {
  @media (min-width: #{$sm-width + 1px}) and (max-width: #{$lg-width - 1px}) {
    @content;
  }
}

@mixin md-device-up{
  @media (min-width: #{$sm-width + 1px}){
    @content;
  }
}

@mixin lg-device {
  @media (min-width: #{$lg-width}){
    @content;
  }
}

@mixin force-wrap {
  white-space: pre;
  // CSS 2.0
  white-space: pre-wrap;
  // CSS 2.1
  white-space: pre-line;
  // CSS 3.0
  white-space: -pre-wrap;
  // Opera 4-6
  white-space: -o-pre-wrap;
  // Opera 7
  white-space: -moz-pre-wrap;
  // Mozilla
  white-space: -hp-pre-wrap;
  // HP Printers
  word-wrap: break-word;
  // IE 5+
}

